@model EGreetings.Models.Category

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section HeadScripts {
}

<div class="row mt-3">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Category" asp-action="CreateSubCategory" asp-route-groupCategory="@ViewData["GroupCategoryKey"]" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label h6 libre-franklin--title primary-color">Category Name</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GroupCate" class="control-label h6 libre-franklin--title primary-color">Group Category</label>
                <input class="form-control raleway--content" value="@ViewData["GroupCategoryValue"]" readonly />
                <input type="hidden" asp-for="GroupCate" value="@ViewData["GroupCategoryKey"]" />
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label h6 libre-franklin--title primary-color">Allow display?</label>
                <input asp-for="Status" type="checkbox" class="form-check-input ml-3" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {

}