@{
    ViewData["Title"] = "Subscriptions";
}

<div class="w-full flex flex-col justify-center items-center mb-3">
    <div class="mt-5 title-sub">Our Subscriptions</div>
    <div class="btn-cate-sub">Monthly</div>
    <div class="main-sub">
        <div class="container-sub">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Basic Plan</div>
                <div class="price-sub">$16<span class="mo">/mo</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 mails</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> 3 Free Templates </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

        <div class="container-sub">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Standard Plan</div>
                <div class="price-sub">$23<span class="mo">/mo</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 15 mails</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> 3 Free Templates </div>
                <div class="btn-sub">Pay Now  <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

        <div class="container-sub">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Premium Plan</div>
                <div class="price-sub">$27<span class="mo">/mo</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 20 mails</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> 3 Free Templates</div>
                <div class="btn-sub">Pay Now  <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

    </div>
    
    
    <div class="btn-cate-sub">Templates</div>
    <div class="main-sub">
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Templates</div>
                <div class="btn-cate-sub1">Birthday</div>
                <div class="price-sub"><s>$50.00</s> to $39.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Up to 10 high-quality templates</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Free Design</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Cost saving up to 20% </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

    </div>

    <div class="btn-cate-sub">Sends</div>
   
    <div class="main-sub">
        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 10 Sends</div>
                <div class="price-sub"><s>$30.00</s> to $24.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Significant Savings</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" />Ideal for sending multiple cards at a budget-friendly price</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Access to your sends upon purchase </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 30 Sends</div>
                <div class="price-sub"><s>$30.00</s> to $24.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Significant Savings</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" />Ideal for sending multiple cards at a budget-friendly price</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Access to your sends upon purchase </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

        <div class="container-sub2">
            <div class="p-5 flex flex-col">
                <div class="name-sub">Combo 20 Sends</div>
                <div class="price-sub"><s>$30.00</s> to $24.99<span class="mo">/no time</span></div>
                <div class="title-pri">What's include:</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Significant Savings</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" />Ideal for sending multiple cards at a budget-friendly price</div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Expert Support </div>
                <div class="content-pri"><img src="~/image_design/Star.png" alt="icon1" class="img_pri" /> Access to your sends upon purchase </div>
                <div class="btn-sub">Pay Now <img src="~/image_design/Right Arrow.png" alt="icon" class="img_pay" /></div>
            </div>
        </div>

    </div>
</div>


