c:\Users\DELL\source\repos\E-Greetings\E-Greetings\node_modules
c:\Users\DELL\source\repos\E-Greetings\E-Greetings\EGreetings_Project\Data\Seeder
c:\Users\DELL\source\repos\E-Greetings\E-Greetings\EGreetings_Project\appsettings.Development.json c:\Users\DELL\source\repos\E-Greetings\E-Greetings\EGreetings_Project\appsettings.json
c:\Users\DELL\source\repos\E-Greetings\E-Greetings\EGreetings_Project\wwwroot
.vs