################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/E-Greetings/FileContentIndex/5153b44e-6cbd-41b4-8272-3fdf49d4fbdd.vsidx
