			  EGreetings_Project/Controllers/AccountController.cs
              EGreetings_Project/Controllers/ECardController.cs
              EGreetings_Project/Controllers/HomeController.cs
              EGreetings_Project/Controllers/SpecialController.cs
              EGreetings_Project/Controllers/SubsController.cs
              EGreetings_Project/Data/EGreetingsDbContext.cs
              EGreetings_Project/Data/Seeder/CategoySeeder.cs
              EGreetings_Project/Data/Seeder/SubsSeeder.cs
              EGreetings_Project/Data/Seeder/UserSeeder.cs
              EGreetings_Project/EGreetings_Project.csproj
              EGreetings_Project/Migrations/EGreetingsDbContextModelSnapshot.cs
              EGreetings_Project/Models/Category.cs
              EGreetings_Project/Models/Template.cs
              EGreetings_Project/Models/User.cs
              EGreetings_Project/Models/ViewModelAccount/LoginViewModel.cs
              EGreetings_Project/Models/ViewModelAccount/RegisterViewModel.cs
              EGreetings_Project/Program.cs
              EGreetings_Project/Services/CategoryDataActionFilter.cs
              EGreetings_Project/Views/Account/Login.cshtml
              EGreetings_Project/Views/Account/Register.cshtml
              EGreetings_Project/Views/ECard/ECardDesign.cshtml
              EGreetings_Project/Views/ECard/ECards.cshtml
              EGreetings_Project/Views/Home/Index.cshtml
              EGreetings_Project/Views/Shared/_Header.cshtml
              EGreetings_Project/Views/Shared/_LoginPartial.cshtml
              EGreetings_Project/Views/Special/Special.cshtml
              EGreetings_Project/appsettings.json
              EGreetings_Project/bin/Debug/net9.0/EGreetings_Project.dll
              EGreetings_Project/bin/Debug/net9.0/EGreetings_Project.exe
              EGreetings_Project/bin/Debug/net9.0/EGreetings_Project.pdb
              EGreetings_Project/bin/Debug/net9.0/EGreetings_Project.staticwebassets.endpoints.json
              EGreetings_Project/bin/Debug/net9.0/EGreetings_Project.staticwebassets.runtime.json
              EGreetings_Project/bin/Debug/net9.0/appsettings.json
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.AssemblyInfo.cs
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.AssemblyInfoInputs.cache
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.GeneratedMSBuildEditorConfig.editorconfig
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.MvcApplicationPartsAssemblyInfo.cs
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.assets.cache
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.csproj.AssemblyReference.cache
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.csproj.CoreCompileInputs.cache
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.csproj.FileListAbsolute.txt
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.dll
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.genruntimeconfig.cache
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.pdb
              EGreetings_Project/obj/Debug/net9.0/EGreetings_Project.sourcelink.json
              EGreetings_Project/obj/Debug/net9.0/apphost.exe
              EGreetings_Project/obj/Debug/net9.0/ref/EGreetings_Project.dll
              EGreetings_Project/obj/Debug/net9.0/refint/EGreetings_Project.dll
              EGreetings_Project/obj/Debug/net9.0/staticwebassets.build.endpoints.json
              EGreetings_Project/obj/Debug/net9.0/staticwebassets.build.json
              EGreetings_Project/obj/Debug/net9.0/staticwebassets.development.json
              EGreetings_Project/obj/Debug/net9.0/staticwebassets.pack.json
              EGreetings_Project/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
              EGreetings_Project/obj/Debug/net9.0/staticwebassets/msbuild.EGreetings_Project.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
              EGreetings_Project/obj/Debug/net9.0/staticwebassets/msbuild.EGreetings_Project.Microsoft.AspNetCore.StaticWebAssets.props
              EGreetings_Project/obj/EGreetings_Project.csproj.nuget.dgspec.json
              EGreetings_Project/obj/EGreetings_Project.csproj.nuget.g.props
              EGreetings_Project/obj/project.assets.json
              EGreetings_Project/obj/project.nuget.cache
              EGreetings_Project/wwwroot/css/ecards.css
              EGreetings_Project/wwwroot/css/homepage.css
              EGreetings_Project/wwwroot/css/site.css