@{
    ViewData["Title"] = "Home Page";

}
<div class="w-full flex flex-col justify-content-center align-items-center">

    @* Slideshow *@
    <div id="default-carousel" class="relative index-cau w-full" data-carousel="slide">
        <!-- Carousel wrapper -->
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>

                <div class="absolute flex justify-content-center align-items-center block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <div class="flex  w-slider justify-content-center align-items-center">
                        <img src="~/image_design/bg_christ1.png" alt="..." class="img-slider position-relative">
                        <div class="flex flex-col justify-content-center align-items-center all-content-slider ms-4 position-absolute">
                            <p class="text-center title-slider pb-2 text-white">It's Time</p>
                            <p class="w-100 flex justify-center items-center text-white text-center mb-4 mt-2 content-slider">Welcome the holiday season with wonderful gifts! Explore our unique Christmas collection today</p>
                            <div class="btn btn-outline-light text-center  px-5 py-2">View More</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>

                <div class="absolute flex justify-content-center align-items-center block w-[80%] -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <div class="flex  w-slider justify-content-between align-items-center">
                        <img src="~/image_design/slider_christmas1.jpg" alt="..." class="img-slider">
                        <div class="flex flex-col justify-content-center align-items-center">
                            <p class="text-center title-slider pb-2">It's Time</p>
                            <p></p>
                            <div class="btn btn-outline-dark text-center  px-5 py-2">View More</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>

                <div class="absolute flex justify-content-center align-items-center block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <div class="flex  w-slider justify-content-between align-items-center">
                        <img src="~/image_design/Christmasimg.jpg" alt="..." class="img-slider">
                        <div class="flex flex-col justify-content-center align-items-center">
                            <p class="text-center title-slider pb-2">It's Time</p>
                            <p></p>
                            <div class="btn btn-outline-dark text-center  px-5 py-2">View More</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Slider indicators -->
        <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>

        </div>

        <!-- Slider controls -->
        <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
                </svg>
                <span class="sr-only">Previous</span>
            </span>
        </button>
        <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                </svg>
                <span class="sr-only">Next</span>
            </span>
        </button>
    </div>


    @* Main Benefits *@
    <div class="w-full flex flex-col justify-center items-center mt-mb-3">
        <div class="main-benefits">
            <div class="flex be1 justify-center items-center mb-5">
                <img src="~/image_design/Data Quality.png" class="img_benefits" />
                <div class="flex flex-col justify-center items-start ml-3 pl-3">
                    <p class="title_benefits">Convenient and Fast</p>
                    <p class="content_benefits">Without any delay or setting time</p>
                </div>
            </div>
            <div class="flex be2 justify-center items-center mb-5">
                <img src="~/image_design/Paint Brush.png" class="img_benefits" />
                <div class="flex flex-col justify-center items-start ml-3 pl-3">
                    <p class="title_benefits">Highly Customizable</p>
                    <p class="content_benefits">Variety of beautiful designs that are easy to personalize</p>
                </div>
            </div>
            <div class="flex be3 justify-center items-center mb-5">
                <img src="~/image_design/Tree Planting.png" class="img_benefits" />
                <div class="flex flex-col justify-center items-start ml-3 pl-3">
                    <p class="title_benefits">Environmentally Friendly</p>
                    <p class="content_benefits">Reduce the demand for paper and other natural resources</p>
                </div>
            </div>
        </div>
    </div>

    @* Flash Sale *@
    <div class="w-full px-14 mb-5 mt-3">
        <div class="flex-col justify-center items-center">
            <div class="text-center ttitle flex justify-center items-center">Flash Sales <img src="~/image_design/Campfire.png" width="40px;" height="40px;"  class="me-3"/></div>
            <div class="text-end flex justify-end items-center pe-3">View all <img src="~/image_design/Right.png" width="15px" class="ms-2"/></div>
            <div class="flex justify-center items-center flex-wrap">
                <!-- Wrapper for the slider -->
                <div class="slider-wrapper">
                    <button class="slider-btn left" id="prev-btn">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <ul id="autoplay" class="cs-hidden">
                        <!-- 1st Set of Products -->
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- 2nd Set of Products -->


                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product w-full">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <button class="slider-btn right" id="next-btn">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    @* Featured Teamplates Filter By Cate *@

    <div class="w-full flex flex-col mt-5 mb-3">
        <div class="flex flex-col justify-center items-center">
        <div class="ttitle">Our Featured Templates</div>
        <hr class="text-black-50 w-25 mt-4 mb-3" />
        <div class="filter_cate_home">
            <a href="#" class="filter_item">All Categories</a>
            <a href="#" class="filter_item">Birthday</a>
            <a href="#" class="filter_item">New Year</a>
            <a href="#" class="filter_item">Wedding</a>
            <a href="#" class="filter_item">Love</a>
        </div>
        </div>
        <div class="text-end flex justify-content-end align-items-center pe-5">View all <img src="~/image_design/Right.png" width="15px" class="ms-2" /></div>
        <div class="w-full px-14 mb-5 mt-1">
            <div class="flex-col justify-start items-start">

                <div class="flex justify-center items-center flex-wrap">
                    <!-- Wrapper for the slider -->
                    <div class="slider-wrapper">
                        <ul id="autoplay" class="cs-hidden">
                            <!-- 1st Set of Products -->
                            <li class="item-a">
                                <div class="mt-5 me-3">
                                    <div class="flex flex-col justify-center items-center item-product1">
                                        <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                        <div class="overplay3">
                                            <a href="#" class="btn-buy3">Use this template</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-a">
                                <div class="mt-5 me-3">
                                    <div class="flex flex-col justify-center items-center item-product1">
                                        <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                        <div class="overplay3">
                                            <a href="#" class="btn-buy3">Use this template</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-a">
                                <div class="mt-5 me-3">
                                    <div class="flex flex-col justify-center items-center item-product1">
                                        <img src="~/image_design/Christmasimg.jpg" alt="sp3" class="img-template" />
                                        <div class="overplay3">
                                            <a href="#" class="btn-buy3">Use this template</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item-a">
                                <div class="mt-5 me-3">
                                    <div class="flex flex-col justify-center items-center item-product1">
                                        <img src="~/image_design/Christmasimg.jpg" alt="sp4" class="img-template" />
                                        <div class="overplay3">
                                            <a href="#" class="btn-buy3">Use this template</a>
                                        </div>
                                    </div>
                                </div>
                            </li>

                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const carouselItems = document.querySelectorAll('[data-carousel-item]');
            const indicators = document.querySelectorAll('[data-carousel-slide-to]');
            const prevButton = document.querySelector('[data-carousel-prev]');
            const nextButton = document.querySelector('[data-carousel-next]');

            let currentIndex = 0;
            const totalSlides = carouselItems.length;

            function showSlide(index) {
                carouselItems.forEach((item, i) => {
                    item.classList.add('hidden');
                    if (i === index) {
                        item.classList.remove('hidden');
                    }
                });

                indicators.forEach((indicator, i) => {
                    indicator.setAttribute('aria-current', i === index ? 'true' : 'false');
                });
            }

            function moveToNext() {
                currentIndex = (currentIndex + 1) % totalSlides;
                showSlide(currentIndex);
            }

            function moveToPrev() {
                currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
                showSlide(currentIndex);
            }

            // Auto play carousel every 7 seconds (7000ms)
            let autoplayInterval = setInterval(moveToNext, 7000); // 7000ms = 7 seconds

            nextButton.addEventListener('click', () => {
                moveToNext();
                resetAutoplay(); // Reset autoplay on manual navigation
            });

            prevButton.addEventListener('click', () => {
                moveToPrev();
                resetAutoplay(); // Reset autoplay on manual navigation
            });

            indicators.forEach((indicator, index) => {
                indicator.addEventListener('click', () => {
                    currentIndex = index;
                    showSlide(currentIndex);
                    resetAutoplay(); // Reset autoplay on manual navigation
                });
            });

            // Function to reset autoplay after user interaction
            function resetAutoplay() {
                clearInterval(autoplayInterval); // Clear existing autoplay interval
                autoplayInterval = setInterval(moveToNext, 7000);  // Start new autoplay interval with 7 seconds
            }

            showSlide(currentIndex);  // Initialize the carousel
        });
    </script>

    <script>
                   document.addEventListener("DOMContentLoaded", function () {
            let autoplayIndex = 0;
            const items = document.querySelectorAll("#autoplay .item-a");
            const totalItems = items.length; // Total number of items
            const itemsPerRow = 4; // Number of items per row
            const itemWidth = items[0].offsetWidth; // Width of each item
            const delay = 3000; // Delay for each slide (3 seconds)
            let autoplayInterval; // Variable to store interval

            // Ensure the #autoplay container has enough width to accommodate all items
            document.querySelector("#autoplay").style.width = `${itemWidth * totalItems}px`;

            // Function to handle the autoplay
            function autoplay() {
                const totalRows = Math.ceil(totalItems / itemsPerRow);
                const offset = -(autoplayIndex * itemWidth);
                document.querySelector("#autoplay").style.transform = `translateX(${offset}px)`; // Move the slider
            }

            autoplay(); // Initial autoplay call
            autoplayInterval = setInterval(() => {
                autoplayIndex = (autoplayIndex + 1) % Math.ceil(totalItems / itemsPerRow); // Loop back to the first row
                autoplay(); // Update the slide
            }, delay); // Start autoplay every 3 seconds

            // Previous button (prev)
            document.getElementById("prev-btn").addEventListener("click", function () {
                clearInterval(autoplayInterval); // Stop autoplay when the user clicks
                autoplayIndex = (autoplayIndex - 1 + Math.ceil(totalItems / itemsPerRow)) % Math.ceil(totalItems / itemsPerRow); // Decrease index
                autoplay(); // Update the slide
                autoplayInterval = setInterval(() => { // Restart autoplay with 3 seconds
                    autoplayIndex = (autoplayIndex + 1) % Math.ceil(totalItems / itemsPerRow); // Loop back to the first row
                    autoplay(); // Update the slide
                }, delay);
            });

            // Next button (next)
            document.getElementById("next-btn").addEventListener("click", function () {
                clearInterval(autoplayInterval); // Stop autoplay when the user clicks
                autoplayIndex = (autoplayIndex + 1) % Math.ceil(totalItems / itemsPerRow); // Increase index
                autoplay(); // Update the slide
                autoplayInterval = setInterval(() => { // Restart autoplay with 3 seconds
                    autoplayIndex = (autoplayIndex + 1) % Math.ceil(totalItems / itemsPerRow); // Loop back to the first row
                    autoplay(); // Update the slide
                }, delay);
            });
        });
    </script>

}
