
@{
    ViewData["Title"] = "Notifications";
}
<div class="w-100 flex flex-col justify-content-center align-items-center mt-5">

    <div class="w-form flex flex-col justify-center items-center">
<p class="text-center px-4 py-3">Your email haven't confirmed yet. Please check the email we sent for you.</p>
    </div>
</div>