@using EGreetings_Project.Models
@model EGreetings_Project.Models.ViewModelAccount.VerifyEmailViewModel
@{
    ViewData["Title"] = "Verify Email";
    // Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class=" w-100 flex flex-col justify-content-center align-items-center ">

    <div class="w-form flex flex-col justify-center items-center">
        <h2 class="text-center text-black font-bold title mb-4 mt-5">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post"class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control input-form" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <input type="submit" value="Verify" class="btn btn-submit w-100 p-2" />

            <div class="text-center mt-2 btn-back">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3 text-back">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}