  <div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 300px;">
    <div class="text-center container">
      <h1 class="mb-4" style="font-size: 32px;">Thank You for Your Payment!</h1>
      <div class="d-flex justify-content-center align-items-center mb-3">
        <img src="~/image_design/success.png" alt="success">
      </div>
      <div class="alert alert-success container">
        <h3>Payment Successful</h3>
        <p>Your transaction was completed successfully.</p>
      </div>
      <p>You will receive a confirmation email shortly with the transaction details.</p>
      <p>If you need assistance, feel free to visit our <a class="text-primary text-decoration-underline" href="#">support page</a>.</p>
    </div>
  </div>
