.menu {
    position: absolute;
    height: 100%;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);
    width: 280px;
}

.main-table {
    margin-left: 280px;
}

    .head {
        font-weight: bold;
        color: #0f2f88;
        padding-top: 20px;
        text-align: center;
        font-size: 35px;
    }

    .main-table table {
        margin: 20px 80px;
        width: 90%;
        border-collapse: collapse;
    }

        .main-table table thead {
            border-bottom: 1px solid #000;
        }

.active {
    color: #fff !important;
    background-color: #0f2f88;
}

.menubar li {
    padding-top: 15px;
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    transition: 0.3s;
    padding-left: 5px;
    color: #000;
}

    .menubar li:hover {
        padding-left: 15px;
        background-color: #0f2f88; 
    }

    .menubar li a {
        color: #0f2f88;
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

        .menubar li a:hover {
            color: #ebfdfd;
            background-color: #0f2f88;
        }

.userprofile {
    border: 1px solid #123277;
    padding: 30px 50px !important;
    border-radius: 20px;
    width: 45% ;
    margin: 0 auto !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    background-color: white;
}
.submitbtn {
    background-color: none !important;
}