<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EGreetings_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sliders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sliders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/e_cardpage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/subs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EGreetings_Project.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lexend:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body class="w-full flex flex-col">
    <header>
        @* <a class="nav-link text-dark nav-link-header" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/image_design/IconSpecial.png" class="img-icon" />Specials</a> *@
     
        <nav class="header-home">
            <!-- Full Navbar for screens larger than 1300px -->
            <div class="all-content flex justify-content-between align-items-end lg:flex lg:block hidden lg:block">
                <!-- Logo -->
                <div class="col-2 flex justify-content-end align-items-center">
                    <a class="flex justify-content-end align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/image_design/Logo E-G Full HD-NoBG - Cut.png" class="ps-5 img-logo" />
                    </a>
                </div>

                <!-- Navbar items -->
                <div class="col-6 flex justify-content-between align-content-end pb-2">
                    <div class="flex justify-content-center align-items-end pt-2">
                        <!-- Home Dropdown -->
                        <div class="dropdown dropdown-hover">
                            <div tabindex="0" role="button" class=" relative flex w-full justify-center align-items-center">
                                <a class="flex w-full justify-center align-items-center" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/image_design/Homeicon1.png" alt="Home" class="img-icon" /><span class="font-bold ms-2 title-header">Home</span>
                                </a>
                            </div>
                            <ul tabindex="0" class=" absolute dropdown-content menu  rounded-box p-3 shadow flex-column flex-col justify-content-center align-items-center">
                                <li class="py-2 px-3 dropdown-item"><a href="#" class="text-decoration-none text-black">About Us</a></li>

                                <li class="py-2 px-3 dropdown-item"><a href="#" class="text-decoration-none text-black">Contact Us</a></li>
                                <li class="py-2 px-3 dropdown-item"><a href="#" class="text-decoration-none text-black">FAQs</a></li>
                                <li class="py-2 px-3 dropdown-item"><a href="#" class="text-decoration-none text-black">Item 2</a></li>
                                <li class="py-2 px-3 dropdown-item"><a href="#" class="text-decoration-none text-black">Item 2</a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- E-Cards Dropdown -->
                    <div class="flex justify-content-center align-items-end pt-2">
                        <div class="dropdown dropdown-hover">
                            <div tabindex="0" role="button" class="relative flex w-full justify-center align-items-center">
                                <a class="flex w-full justify-center align-items-center" asp-controller="Category" asp-action="Index">
                                    <img src="~/image_design/Letter1.png" class="img-icon" />
                                    <span class="font-bold ms-2 title-header">E-Cards</span>
                                </a>
                            </div>
                            <div tabindex="0" class=" absolute dropdown-content-card menu  rounded-box p-3 shadow flex-column flex-col justify-content-center align-items-center">
                                <div class="w-full flex px-4  pt-4 justify-content-between ">
                                    <div class="block px-3 py-2 text-sm  flex-col justify-content-start " role="menuitem" tabindex="-1" id="menu-item-ecards-bd">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item  title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-birthday">
                                            <img src="~/image_design/Birthday1.png" class="img-icon-header" />Birthday
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item " role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>
                                    <div class="block px-3 py-2 text-sm  flex-col justify-content-start align-items-center" role="menuitem" tabindex="-1" id="menu-item-ecards-n">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-ny">
                                            <img src="~/image_design/newy.png" class="img-icon-header" />New year
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>
                                    <div class="block px-3 py-2  flex flex-col justify-content-start align-items-center" role="menuitem" tabindex="-1" id="menu-item-ecards-fe">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-f">
                                            <img src="~/image_design/Festival1.png" class="img-icon-header" />Festival
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>


                                </div>
                                <br />
                                <div class="w-full flex px-4 pt-2 pb-4 justify-content-between align-items-center">
                                    <div class="block px-3 py-2 text-sm flex flex-col justify-content-start align-items-center" role="menuitem" tabindex="-1" id="menu-item-ecards-bd">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">
                                            <img src="~/image_design/Wedding1.png" class="img-icon-header" />Wedding
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>
                                    <div class="block px-3 py-2 text-sm flex flex-col justify-content-start align-items-center" role="menuitem" tabindex="-1" id="menu-item-ecards-n">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item  title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">
                                            <img src="~/image_design/LoveDay.png" class="img-icon-header" />Love
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>
                                    <div class="block px-3 py-2 text-sm flex flex-col justify-content-start align-items-center" role="menuitem" tabindex="-1" id="menu-item-ecards-fe">
                                        <a href="#" class="block text-lg  text-decoration-none dropdown-item title_mid" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">
                                            <img src="~/image_design/WindowOther.png" class="img-icon-header" />Others
                                        </a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-gen">General</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-teen">Teenagers</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-au">Adult</a>
                                        <a href="#" class="block text-sm text-black text-decoration-none dropdown-item" role="menuitem" tabindex="-1" id="menu-item-ecards-mor">Mordern</a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Additional Menu Items -->
                    <div class="flex justify-content-center align-items-end">
                        <a class="flex w-full justify-center align-items-center" asp-area="" asp-controller="Sub" asp-action="Index">
                            <img src="~/image_design/VIP.png" class="img-icon" />
                            <span class="font-bold title-header ms-2">Subscribe</span>
                        </a>
                    </div>
                    <div class="flex justify-content-center align-items-end">
                        <img src="~/image_design/Parcel.png" class="img-icon" />
                        <span class="font-bold title-header ms-2">Orders</span>
                    </div>
                    <div class="flex justify-content-center align-items-end">
                        <a class="flex w-full justify-center align-items-center" asp-area="" asp-controller="Special" asp-action="Index">
                            <img src="~/image_design/Hot Price.png" class="img-icon" />
                            <span class="font-bold title-header ms-2">Specials</span>
                        </a>
                    </div>
                </div>

                <!-- Login Partial -->
                <div class="col-2 flex justify-content-start align-items-end">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>

            <!-- Mobile Navbar for screens less than 1300px -->
            <div class="lg:hidden flex justify-between items-center w-[90%] mx-auto mobile-bar row">
                <!-- Logo on the left -->
                <div class="flex justify-between items-center">
                    <a class="flex justify-start items-center" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/image_design/Logo E-G Full HD-NoBG - Cut.png" class="ps-5 img-logo" />
                    </a>
                    <!-- Mobile Hamburger Button on the right -->
                    <div id="hamburger-btn" data-collapse-toggle="navbar" type="button"
                         class="p-2 text-black-50 focus:outline focus:ring-2 focus:ring-gray-200 rounded-lg border-black"
                         aria-controls="navbar" aria-expanded="false">
                        <svg class="w-10 h-10 px-2 rounded-lg" id="hamburger-icon" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 5h14a1 1 0 011 1v1a1 1 0 01-1 1H3a1 1 0 01-1-1V6a1 1 0 011-1zM3 10h14a1 1 0 011 1v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-1a1 1 0 011-1zM3 15h14a1 1 0 011 1v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-1a1 1 0 011-1z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>

               
            </div>

            <!-- Sidebar that will slide from the right -->
            <div id="sidebar" class="hidden fixed inset-0 bg bg-[rgba(69, 69, 69,0.3)] bg-opacity-10 z-50 flex justify-end">
                <div class="bg-white w-[300px] h-auto overflow-y-auto p-4 shadow-lg transform translate-x-full transition-transform duration-300" id="sidebar-content">
                    <button id="close-btn" class="text-black text-3xl absolute top-0 right-0 p-2">
                        &times;
                    </button>
                    <ul class="flex flex-col items-start">
                        <li><a href="#" class="block px-3 py-2 text-lg">About Us</a></li>
                        <li><a href="#" class="block px-3 py-2 text-lg">Contact Us</a></li>
                        <li><a href="#" class="block px-3 py-2 text-lg">FAQs</a></li>
                        <li><a href="#" class="block px-3 py-2 text-lg">Subscribe</a></li>
                        <li><a href="#" class="block px-3 py-2 text-lg">Orders</a></li>
                    </ul>
                </div>
            </div>


          
        </nav>




    </header>

    <main role="main" class="pb-3 main-content position-relative h-auto">
        @RenderBody()
    </main>


    <footer class="border-top position-relative footer text-muted w-full">
        <div class="container-footer">
            <div class="top-footer flex justify-content-between align-items-start row">
                <div class="flex col-5">
                    <img src="~/image_design/Logo E-G Full HD-NoBG - Cut.png" class="img-logo-footer w-75 " />
                   
                </div>
                <div class=" flex flex-col justify-content-center col-3 py-5 px-3">
                    <div class="text-gray-600 font-semibold text-lg mb-2 ">Contact us</div>
                    <div class="text-decoration-none flex flex-col align-items-start my-2">
                        <img src="~/image_design/Email.png" class="img-icon-footer" /> <div class="text-gray-600 font-regular text-lg ">egreetings2024.corp@gmail.com</div>
                    </div>
                    <div class="text-decoration-none flex  flex-col align-items-start my-2">
                        <img src="~/image_design/Ringing Phone.png" class="img-icon-footer" /> <div class="text-gray-600 font-regular text-lg ">(+84) 000 000 0000</div>
                    </div>
                </div>
                <div class="flex flex-col justify-content-center col-2 py-5 px-3">
                    <div class="text-gray-600 font-semibold text-lg mb-2 ">Services</div>
                    <div class="text-gray-600 font-regular text-lg mb-2">My Account</div>
                    <div class="text-gray-600 font-regular text-lg mb-2">Subscriptions</div>
                    <div class="text-gray-600  font-regular text-lg mb-2">About Us</div>

                    <div class="text-gray-600  font-regular text-lg mb-2">FAQs</div>
                </div>
                <div class="flex flex-col justify-content-center col-2 py-5 px-3">
                    <div class="text-gray-600 font-semibold text-lg mb-2 ">Clause</div>
                    <div class="text-gray-600 font-regular text-lg mb-2">Terms of Services</div>
                    <div class="text-gray-600 font-regular text-lg mb-2">Privacy policy</div>

                </div>
            </div>
            <div class="bottom-footer">
                &copy; 2024 - Live without waiting. All Rights Reserved
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



<script>
    const homeMenuButton = document.getElementById('home-menu-button');
    const homeDropdownMenu = document.getElementById('home-dropdown-menu');

    homeMenuButton.addEventListener('click', (event) => {
        event.stopPropagation();
        homeDropdownMenu.classList.toggle('hidden');
    });


    const ecardsMenuButton = document.getElementById('ecards-menu-button');
    const ecardsDropdownMenu = document.getElementById('ecards-dropdown-menu');

    ecardsMenuButton.addEventListener('click', (event) => {
        event.stopPropagation();
        ecardsDropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', (event) => {
        if (!homeMenuButton.contains(event.target) && !homeDropdownMenu.contains(event.target)) {
            homeDropdownMenu.classList.add('hidden');
        }
        if (!ecardsMenuButton.contains(event.target) && !ecardsDropdownMenu.contains(event.target)) {
            ecardsDropdownMenu.classList.add('hidden');
        }
    });
</script>

<script>

    document.querySelectorAll('.dropdown').forEach(dropdown => {
      const button = dropdown.querySelector('.btn');
      const menu = dropdown.querySelector('.dropdown-content');

      button.addEventListener('mouseenter', () => {
        menu.style.display = 'block';  // Hiển thị menu khi hover vào button
      });

      button.addEventListener('mouseleave', () => {
        menu.style.display = 'none';  // Ẩn menu khi rời chuột khỏi button
      });

      menu.addEventListener('mouseenter', () => {
        menu.style.display = 'block';  // Giữ menu hiển thị khi hover vào menu
      });

      menu.addEventListener('mouseleave', () => {
        menu.style.display = 'none';  // Ẩn menu khi chuột rời khỏi menu
      });
    });

</script>
<script>
    // Get the elements
     const hamburgerBtn = document.getElementById('hamburger-btn');
     const sidebar = document.getElementById('sidebar');
     const closeBtn = document.getElementById('close-btn');
     const sidebarContent = document.getElementById('sidebar-content');

     // Toggle the sidebar visibility
     hamburgerBtn.addEventListener('click', () => {
         sidebar.classList.remove('hidden');
         sidebarContent.classList.remove('translate-x-full');  // Show sidebar by removing translate
     });

     // Close the sidebar
     closeBtn.addEventListener('click', () => {
         sidebarContent.classList.add('translate-x-full'); // Slide the sidebar out
         setTimeout(() => {
             sidebar.classList.add('hidden');
         }, 300); // Wait for the animation to finish before hiding the sidebar
     });
</script>



