@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@inject SignInManager<User> signInManager;

<div class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <div class="nav-item flex justify-content-start align-items-end">
            <a class="nav-link text-dark font-bold text-lg" asp-controller="Account" asp-action="Logout">Logout</a>
        </div>
    }
    else
    {
        <div class="flex justify-content-start align-items-end">
        <div class="nav-item">
            <a class="nav-link text-dark font-bold text-lg" asp-controller="Account" asp-action="Login">Login</a>
        </div>
        <div class="nav-item">
                <a class="nav-link text-dark font-bold text-lg ms-4" asp-controller="Account" asp-action="Register">Join Now</a>

        </div>
        </div>
    }
</div>
