body {
}
.main-sub {
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow:wrap;
}

   

.title-sub{
    font-size: 34px;
    font-weight:600;
}

.container-sub {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    width: 30%;
    height: 450px;
    box-shadow: 6px 6px 8px rgb(249, 235, 161);
    transition: box-shadow 0.3s ease;
}
    .container-sub:hover {
        box-shadow: none;
    }

.name-sub{
    font-size: 32px;
    padding-bottom:30px;
    font-weight:500;
}

.price-sub {
    font-size: 28px;
    padding-bottom: 30px;
}

.mo{
    font-size:14px;
}

.title-pri{
    font-size:16px;
    font-weight:500;
    padding-bottom:20px;
}
.content-pri{
    font-size:15px;
    padding-bottom:10px;
    display:flex;
    align-items:center;

}

.btn-sub {
    
    margin-top: 20px;
    background-color: black;
    width: 220px;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 15px 20px;
    box-shadow: 5px 5px 7px rgb(255, 216, 1);
    transition: box-shadow 0.1s ease;
    font-weight:600;
    display:flex;
    justify-content:space-between;
}



.btn-sub:hover {
    box-shadow: none;
}

.img_pay{
    width:20px;
}

.img_pri {
    width: 26px;
    height: 16px;
    padding-right: 10px;
    padding-top:2px;
}

.btn-cate-sub{
    margin-top:60px;
    margin-bottom:20px;
    color:white;
    padding: 7px 18px;
    background-color: black;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 15px;
}
.btn-cate-sub1 {
    color: white;
    padding: 1px 10px;
    background-color: black;
    font-size: 10px;
    font-weight: 600;
    width:70px;
    border: 2px solid black;
    border-radius: 15px;
    text-align:center;
    margin-bottom:10px;
}

.container-sub2 {
    border: 3px solid black;
    border-radius: 20px;
    background-color: white;
    width: 30%;
    height: 650px;
    box-shadow: 6px 6px 8px rgb(249, 235, 161);
    transition: box-shadow 0.3s ease;
    margin: 30px 0px;
}

.container-sub2:hover {
    box-shadow: none;
}