@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-5xl font-bold text-center mt-3">ABOUT US</h1>
<div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
    <p class="mb-6">
        Welcome to E-greetings – the birthplace of heartfelt messages! At E-greetings, we understand
        that connecting with loved ones is an essential part of life. We are proud to oer design and
        delivery services for E-cards, helping you express your heartfelt feelings to those you cherish
        the most.
    </p>

    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">Our Mission</h2>
    <p class="mb-6">
        The mission of E-greetings is to provide you with a special, easy, and quick experience for
        sharing your emotions. We believe that every card, every E-card, carries a story and a memory.
        With E-greetings, you can freely choose your favorite card template and design it in your own
        unique style. We are committed to delivering quality products that meet your needs and
        desires.
    </p>

    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">
        Diverse Card Templates
    </h2>
    <p class="mb-6">
        E-greetings boasts a rich collection of card designs with over 600 beautiful and unique E-card
        samples. Our cards are categorized by various themes, from birthdays and anniversaries to
        Valentine's Day and traditional holiday celebrations. You can easily nd the perfect card for
        each special occasion throughout the year. Each card is thoughtfully designed to convey
        genuine emotions to the recipient.
    </p>

    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">Customize Your Card</h2>
    <p class="mb-6">
        We understand that everyone has their own style and preferences. Therefore, E-greetings
        provides you with a unique design tool that allows you to unleash your creativity. You can add
        heartfelt messages, choose your favorite fonts, and use unique tools to create a card that
        reects your personality. Not only can you select a template, but you can also customize colors,
        images, and eects to make your card even more vibrant.
    </p>

    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">Share Your Love Messages</h2>
    <p class="mb-6">
        One of the standout features of E-greetings is the ability to convey love messages through
        images and videos. You can use your own photos or beautiful moments from your life to turn
        the card into a memorable keepsake. Additionally, you can include a video with the card,
        helping you express your feelings in the most sincere and profound way. This is a wonderful
        way to connect and share love with those who matter most.
    </p>

    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">Attractive Discount Policies</h2>
    <p class="mb-6">
        We always aim to provide our customers with the best experiences. E-greetings oers special
        discount packages, helping you save costs when sending multiple E-cards at once. With these
        discount packages, you can send cards to friends and family without worrying about your
        budget. We believe that sharing love is not only about quantity but also about the sincerity and
        meaning behind each message.
    </p>
    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">
        Commitment to Quality
    </h2>
    <p class="mb-6">
        E-greetings is committed to providing the best service for our customers. Our design team
        consists of experienced and passionate individuals who strive to deliver quality products. We
        listen to customer feedback to continuously improve and develop our services to best meet
        your needs.
    </p>
    <h2 class=" text-xl font-semibold mb-4" style="color: #0F2F76; font-weight: 700">
        Connect with Us
    </h2>
    <p class="mb-6">
        Let’s create beautiful and meaningful memories together with E-greetings! Sign up now to start
        designing and sending E-cards to those you love. We are always ready to accompany you on
        your journey of sharing love.
        Thank you for choosing E-greetings – where emotions are conveyed through each card! Let us
        help you express your heartfelt messages to the special people in your life.
    </p>
</div>