

<div class="w-100 flex flex-col justify-content-center align-items-center mt-5">
    <div class="w-form flex flex-col justify-center items-center p-3">
        <h2 class="text-center">Your email has been successfully confirmed!</h2>
        <p class="text-center mt-3">
            <a class="btn btn-outline-dark" href="@Url.Action("Login", "Account")">Go to Login</a>
        </p>
    </div>
   

</div>