
@{
    ViewData["Title"] = "ResendMailConfirm";
}


<div class="form">
<h1>Resend Mail Confirm</h1>
<p> We have sended the new confirm mail for you. Please check your mail and confirm it.</p>

</div>