
@{
    ViewData["Title"] = "OrderNoContent";
}

<div class="w-full mt-3 flex  flex-col justify-content-center align-items-center">
    <div class="text-center w-50 title-noq text-back">You've not signed in yet</div>
    <div class="text-center w-50 title-no">Please sign in to see all content of this</div>
</div>

