
@{
    ViewData["Title"] = "Specials";
}


<div class="w-full flex flex-col justify-content-center align-content-center mt-5">
    <div class="w-full flex justify-content-center align-content-center">
        <img src="~/image_design/Sale.png" alt="bg_dis" class="img-dis"/>
    </div>

    <div class="w-full px-14 mb-5 mt-1">
        <div class=" flex flex-col justify-start items-start">

            <div class="flex flex-wrap justify-center items-center flex-wrap">
                <!-- Wrapper for the slider -->
                <div class="slider-wrapper">
                    <ul id="autoplay" class="flex flex-wrap justify-content-center align-items-center">
                        <!-- 1st Set of Products -->
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product2">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp2" class="img-template" />
                                    <div class="flex flex-col justify-center py-3 w-75">
                                        <div class="text-xl text-black font-bold text-center">Template Name 1</div>
                                        <div class="flex justify-content-between py-2">
                                            <s class="text-black text-lg text-start">$4.99</s>
                                            <div class="font-bold text-xl text-end text-price">$4.59</div>
                                        </div>

                                    </div>
                                    <div class="overplay4">
                                        <a href="#" class="btn-buy4">Use this template</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>