@{
    ViewData["Title"] = "Special";
}
<div class="w-full py-5 flex flex-col justify-content-center items-center">
    <div class="spe-title">Today’s Best Offers And Coupons</div>
    <div class="py-4 mt-3 flex justify-center items-center w-full">
        <div class="filter-spe">
            
                <div class="btn-spe selected" onclick="selectButton(this)">Discounts</div>
                <div class="btn-spe" onclick="selectButton(this)">Features</div>
            
        </div>
    </div>
    <div class="w-full px-14 mb-5 mt-3">
        <div class="w-full flex flex-col justify-start items-start">
            <div class=" w-full flex justify-center items-center flex-wrap">
                <!-- Wrapper for the slider -->
                <div class="w-[80%] flex flex-wrap justify-center items-center px-3">
                    <ul id="slider-items" class="flex w-full flex-wrap justify-center items-center ">
                        <!-- 1st Row of Products -->
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item-a">
                            <div class="mt-5 me-3">
                                <div class="flex flex-col justify-center items-center item-product">
                                    <img src="~/image_design/Christmasimg.jpg" alt="sp1" class="img-template" />
                                    <div class="w-content-card flex flex-col ">
                                        <div class="text-center px-3 py-4">Template Name</div>
                                        <div class="flex justify-content-between align-items-center p-2"><s>$3.00</s><span class="exactly-price">$2.99</span></div>
                                    </div>
                                    <div class="overplay">
                                        <a href="#" class="btn-buy">Use this card</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function selectButton(button) {
        // Loại bỏ lớp 'selected' khỏi tất cả các button
        var buttons = document.querySelectorAll('.btn-spe');
        buttons.forEach(function(btn) {
            btn.classList.remove('selected');
        });

        // Thêm lớp 'selected' vào button đã được nhấn
        button.classList.add('selected');
    }
</script>